@import url('https://fonts.googleapis.com/css?family=Coda:800');

.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	
	grid-template-areas:
		"header"
		"weather"
		"sushi";
}

body {
  text-align: center;
  margin: 2;
  padding: 0;
  color: white;
  font-family: Arial;
  font-size: 15px;
}

/* HEADER BOX1 */

.box-1 {
	grid-area: header;
	color: white;
	font-family: arial;
	font-size: 30px;
	height: 350px;
}

h1 {
	margin-top: -10px;
	font-size: 40px;
	font-family: 'Coda';
}

.logo {
	margin-top: 50px;
	margin-bottom: 0px;
	width: 300px;
}

.image {
	width: 300px;
}

/* WEATHER BOX2 */

h2 {
	font-size: 25px; /*DOET HET NIET?*/
	font-family: 'Coda';	
}

.box-2 {
	grid-area: weather;
	background-color: black;	
}

/* SUSHI BOX3 */

.box-3 {
	grid-area: sushi;
	background-color: black;
}

/* IPAD SIZE */
@media only screen and (min-width: 768px) {

	.box-1 {
		height: 500px;
	}

	h1 {
	margin-top: -10px;
	font-size: 50px
	}

	.logo {
	margin-top: 50px;
	margin-bottom: 0px;
	width: 400px
	}

	h2 {
		font-size: 15px;
	}

	.box-2 {
		height: auto;
	}

	.box-3 {
		height: auto;
	}

}

/* DESKTOP SIZE */
@media only screen and (min-width: 1024px) {

	.grid-container{
		grid-template-columns: 1fr 1fr;

		grid-template-areas:
				"header header"
				"weather sushi"
				"meter meter";
	}

	.box-1 {
		height: auto;
	}

	.box-2 {
		height: auto;
	}

	.logo {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 500px
	}

}
